.coolHeading2 {
	font-family: 'Lily Script One', cursive;
	color: #FFF;
}

.coolHeading1 {
	font-family: 'Lily Script One', cursive;
	color: #000000 !important;
}

.backgroundCH1 {
	background-color: #7DAD93;
}

.whiteFont {
	color: #FFF !important;
}
